<!DOCTYPE html>
<html>
{% extends "daily_odds/base.html" %}
{% load static %}
{% block title %} Soccer {% endblock title%}
{% block header %} <h4> Tips</h4> {% endblock %}

{% block content %}

{% for dailymain in latest_prev_daily_list  %}
{% if dailymain.showing_prev %}

<h2>{{dailymain.slip_date}}</h2>
<ul>


      <table class="table table-striped ">

          <thead class="thead-dark ">
                 <tr>
                     <th scope="col">Date</th>
                     <th scope="col">country</th>
                     <th scope="col">home team</th>
                     <th scope="col">away team</th>
                     <th scope="col">prediction</th>
                     <th scope="col">outcome</th>

                 </tr>

          </thead>


      {% for dailysub in dailymain.dailysub_set.all %}



          {% if dailysub.outcome == null %}

              <tbody>

                 <tr>
                   <td>{{dailysub.match_date}}</td>
                   <td>{{dailysub.country}}</td>
                   <td>{{dailysub.home_team}}</td>
                   <td>{{dailysub.away_team}}</td>
                   <td>{{dailysub.prediction}}</td>
                   <td class= "p-2 mb-1 bg-warning text-dark">Running..</td>
                 </tr>
              </tbody>
          {% elif dailysub.outcome == dailysub.prediction %}
              <tbody>
                 <tr>
                   <td>{{dailysub.match_date}}</td>
                   <td>{{dailysub.country}}</td>
                   <td>{{dailysub.home_team}}</td>
                   <td>{{dailysub.away_team}}</td>
                   <td>{{dailysub.prediction}}</td>
                   <td class= "p-2 mb-1 bg-success text-white">{{dailysub.outcome}}</td>
                 </tr>
              </tbody>
          {% else %}


              <tbody>
                 <tr>
                   <td>{{dailysub.match_date}}</td>
                   <td>{{dailysub.country}}</td>
                   <td>{{dailysub.home_team}}</td>
                   <td>{{dailysub.away_team}}</td>
                   <td>{{dailysub.prediction}}</td>
                   <td class= "p-2 mb-1 bg-danger text-dark">{{dailysub.outcome}}</td>
                 </tr>
              </tbody>
          {% endif %}

      {% endfor %}

      </table>


 </ul>

{% endif %}
{% endfor %}

{% endblock %}
</html>