<!DOCTYPE html>
<html>
{% extends "daily_odds/base.html" %}
{% load static %}
{% block title %} Soccer {% endblock title%}
{% block header %} <h4> Tips</h4> {% endblock %}

{% block content %}

{% for dailymain in latest_daily_list  %}

 {% if dailymain.recent_slips %}

<h5 >{{dailymain.slip_date|date:'d/m/Y'}}</h5>
<ul>


      <table class="table table-striped ">

          <thead class="thead-dark ">
                 <tr>
                     <th scope="col">Date</th>
                     <th scope="col">country</th>
                     <th scope="col">home team</th>
                     <th scope="col">away team</th>
                     <th scope="col">prediction</th>
                     <th scope="col">outcome</th>

                 </tr>

          </thead>


      {% for dailysub in dailymain.dailysub_set.all %}



          {% if dailysub.outcome == null %}

              <tbody>

                 <tr>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.match_date|date:'d/m/Y'}} -{{dailysub.match_date|time:'H:i'}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.country}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.home_team}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.away_team}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.prediction}}</a></td>
                   <td><a class= "p-2 mb-1 bg-warning text-dark" href="{% url 'daily_odds:dailydet' dailysub.id %}">Running..</a></td>
                 </tr>
              </tbody>
          {% elif dailysub.outcome == dailysub.prediction %}


              <tbody >

                 <tr>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.match_date|date:'d/m/Y'}} -{{dailysub.match_date|time:'H:i'}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.country}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.home_team}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.away_team}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.prediction}}</a></td>
                   <td><a class= "p-2 mb-1 bg-success text-white" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.outcome}}</a></td>
                 </tr>

              </tbody>

          {% else %}

              <tbody>
                 <tr>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.match_date|date:'d/m/Y'}} -{{dailysub.match_date|time:'H:i'}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.country}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.home_team}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.away_team}}</a></td>
                   <td><a class="nav-link" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.prediction}}</a></td>
                   <td><a class= "p-2 mb-1 bg-danger text-dark" href="{% url 'daily_odds:dailydet' dailysub.id %}">{{dailysub.outcome}}</a></td>
                 </tr>
              </tbody>

          {% endif %}

      {% endfor %}

      </table>


 </ul>

 {% endif %}
{% endfor %}
{% endblock %}
</html>