li a {
    color: green;
}
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px
}
header,footer,section,article {
    border:1px solid grey;margin:5px;margin-bottom:15px;padding:8px;background-color:white;
}
header,footer {
    color:white;background-color:#444;margin-bottom:5px;
}
h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
}
section {
      background-color: #fbf6ff;
}
.footerbottom{
	position:absolute;
	font-size: 18px;
    bottom: 8px;

}